arrow==0.12.1
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
bitstruct==4.0.0
Click==7.0
constantly==15.1.0
decorator==4.3.0
-e git+https://github.com/ebroecker/canmatrix@0beb8229555e743bb441181ff31cb37e82fff219#egg=canmatrix
future==0.16.0
gitdb2==2.0.5
GitPython==2.1.11
git+https://github.com/altendky/graham@89f3b3e6aad3b98bafa83f28fbbc11bb92df6ad8#egg=graham
greenlet==0.4.15
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
lxml==4.2.5
marshmallow==2.16.0
more-itertools==4.3.0
natsort==5.4.1
Pint==0.8.1
pluggy==0.7.1
py==1.7.0
pyelftools==0.25
PyHamcrest==1.9.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pytest==3.8.2
pytest-qt==3.2.1
pytest-rerunfailures==4.2
pytest-xvfb==1.1.0
git+https://github.com/altendky/pytest-twisted@6f04ba3ad806b3b40602999e71c28633c36d81f9#egg=pytest-twisted
python-can==2.2.1
python-dateutil==2.7.3
python-docx==0.8.7
python-dotenv==0.9.1
-e git+https://github.com/altendky/qt5reactor@ce3ea2dad6d71adb10cde79b64bc0c7d27e9139c#egg=qt5reactor
six==1.11.0
smmap2==2.0.5
Twisted==18.9.0
typing==3.6.6
wrapt==1.10.11
zope.interface==4.5.0

-e .
